* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-synthesis: none;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  font-size: 62.5%;
  --background: #141a23;
  --foreground: #0b0f15;
  --border: #24282f;
  --primary: #f1f3f5;
  --secondary: #db4848;
  --tertiary: #bc3e3e;
  --quaternary: #0f9d58;
  --quinary: #f9a825;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background);
  color: var(--primary);
}

/* Cabeçalho */

header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 7rem;
}

.menu-wrapper {
  width: fit-content;
}

.menu-toggle {
  display: none;
  width: 4rem;
  height: 4rem;
  flex-direction: column;
  justify-content: space-around;
}

.menu-icon {
  width: 100%;
  height: 10%;
  background-color: var(--primary);
  transition: all 0.2s ease;
}

.menu-toggle.active .menu-icon.top {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
  transition: all 0.2s ease;
}

.menu-toggle.active .menu-icon.center {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
  transition: all 0.2s ease;
}

.menu-toggle.active .menu-icon.bottom {
  transform: rotate(-45deg) translate(1.5rem, -1.5rem);
  opacity: 0;
  transition: all 0.2s ease;
}

.menu {
  display: flex;
  gap: 3rem;
}

.menu a {
  text-decoration: none;
  color: var(--primary);
}

.menu-item {
  list-style: none;
  position: relative;
}

.menu-item::before {
  content: '';
  width: 5rem;
  height: 2rem;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background: url('/src/assets/underline-menu-item.svg') no-repeat;
  opacity: 0;
  transition: all 0.2s ease;
}

.menu-item:hover::before,
.menu-item.active::before {
  opacity: 1;
}

/* Responsividade */

@media (max-width: 710px) {
  ul.menu {
    display: none;
  }

  ul.menu.active {
    padding: 20vh;
    display: grid;
    justify-items: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
  }

  div.menu-toggle {
    display: flex;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
}
