body {
  overflow-y: scroll;
}

main {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  margin-top: 9.4rem;
  display: grid;
  gap: 1.6rem;
}

.container h1 {
  font-size: 3rem;
  text-align: left;
}

.form-wrapper {
  display: grid;
  gap: 2rem;
}

form {
  display: grid;
  gap: 2rem;
}

.form-group {
  display: grid;
  gap: 0.8rem;
  position: relative;
}

.form-group input,
.form-group textarea {
  padding: 1rem 2.5rem;
  border: 1px solid var(--border);
  background-color: var(--foreground);
  color: var(--primary);
  border-radius: 0.4rem;
  outline: none;
}

.form-group textarea {
  resize: none;
  height: 10rem;
}

.form-group input.error,
.form-group textarea.error {
  border: 0.2rem solid var(--secondary);
}

.form-group:has(input.error)::after,
.form-group:has(textarea.error)::after {
  content: '* Informação invalida!';
  font-size: 1.2rem;
  color: var(--secondary);
  position: absolute;
  bottom: 0;
  transform: translateY(110%);
}

button[type='submit'] {
  width: 20rem;
  margin: 2rem auto;
  padding: 1rem 2.5rem;
  border: none;
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: 700;
  border-radius: 0.4rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type='submit']:hover,
button[type='submit']:focus {
  transform: translate(-0.5rem, -0.7rem);
  box-shadow: 0.5rem 0.7rem 0.4rem #353c46;
  transition: all 0.2 ease;
}

button[type='submit']:active {
  transform: translate(0);
  box-shadow: none;
  transition: all 0.2 ease;
}

.social-medias {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.social {
  text-align: center;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.social:hover {
  filter: brightness(0.8);
}
